body{
    background-color:black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: white;
background-image:url(zz/FB_IMG_17242787144699608.jpg);
text-align: center;
}
header{
    background-color: rgb(122, 122, 146);
    text-align: center;
    color: white;
    padding: 10px 0;
}
nav{
    background-color:white;
    padding: 0.1cqmin;
}
nav ul{
    text-align: center;
}
nav ul li{
  display: inline;
  padding: 15px;
 
}
nav ul li a:hover{
    background-color: blueviolet;
    color: brown;
    font-size: 20px;
}
section{
    padding:10px;
    margin: 10px;    
}
img{
    width: 300px; height: 450px;
    float: left;
    margin-right: 10px;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
h3 {
    text-align: center;
}
form input ,form textarea {
padding: 7px; 
margin: 4px;
width:auto;
height: auto;
display:inline-block
}
form button {
    padding: 10px;
color:aqua;
    border-radius: 3px;
    display:inline-block;
}
form button :hover{
     border: black;
     background-color:#332245;
}
footer{
    background-color: #444040;
     color: white;
     padding: 6px;
     text-align: center;
     position: fixed;
     width: 100%;
     bottom: 0;
}